extends ../layouts/html_tamplate.pug

block content

  //- _________________________
  //- Block Explorer Header
  .container.p-3
    .row
      .col-lg.my-auto
        i.fas.fa-cubes.fa-2x
        h5  Block Explorer 

  //- _________________________
  //- Modified Blocks & Total Blocks in [BlockMatrix]
  .container.p-3
    .row
      
      //- Modified Block Count
      .col-lg
        i.fas.fa-edit.fa-2x
        p
          strong  Modified Blocks 
          span(th:text='${mod_blocks}')  
      
      //- Block Count
      .col-lg
        i.fas.fa-cube.fa-2x
        p
          strong  Number of Blocks 
          span(th:text='${block_num}')  
      
      //- BlockMatrix Dimensions
      .col-lg
        .container(style='border:2px solid black')
          p(th:text='${bm_dimen}')

    //- _________________________
    //- [All] UTXOs List in BlockMatrix
    .container
      i.fas.fa-history.fa-2x
      h3 Transactions History
      table.table
        thead
          tr
            each n in ["Transaction ID", "Recipient", "Value", "Info", "Parent ID", ""]
                th(scope="col")= n
        tbody
          tr(th:each='mapEntry : ${bm_utxo}')
            td(th:text='${mapEntry.key}')  transaction_id 
            td(th:text='${mapEntry.value.getRecipient()}')  recipient_address 
            td(th:text='${mapEntry.value.getValue()}')  transaction_value 
            td(th:text='${mapEntry.value.getParentTransactionId()}')  transaction_parent_id 
          
    //- _________________________
    //- [All] Blockmatrix Transactions Table
    .container
      i.fas.fa-histroy.fa-2x
          h3 Transaction Histroy
          table(class="table table-borderless")
              thead
                  tr
                      each n in ["Transaction ID", "Sender", "Recipient", "Value", "Info", "Block Number"]
                          th(scope="col")= n
              tbody
                  tr(th:each="list_value : ${bm_all_transactions}")
                      td(th:text="${list_value.getTransactionId()}")
                      td(th:text="${list_value.getSender()}")
                      td(th:text="${list_value.getRecipient()}")
                      td(th:text="${list_value.getValue()}")
                      td(th:text="${list_value.getInfo()}")
                      td(th:text="${list_value.getBlockNumber()}")