doctype html
head
  title BlockMatrix Chain
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  
  //- CSS only
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
  
  //- Font Awesome CDN
  script(src='https://kit.fontawesome.com/62abfc2872.js' crossorigin='anonymous')
  
  //- Main JS File
  script(type='text/javascript' th:src='@{/main.js}').

//- _________________________
//- Block Explorer Header
.container.p-3
  .row
    .col-lg.my-auto
      i.fas.fa-cubes.fa-2x
      h5  Block Explorer 

//- _________________________
//- Modified Blocks & Total Blocks in [BlockMatrix]
.container.p-3
  .row
    
    //- Modified Block Count
    .col-lg
      i.fas.fa-edit.fa-2x
      p
        strong  Modified Blocks 
        span(th:text='${mod_blocks}')  
    
    //- Block Count
    .col-lg
      i.fas.fa-cube.fa-2x
      p
        strong  Number of Blocks 
        span(th:text='${block_num}')  
    
    //- BlockMatrix Dimensions
    .col-lg
      .container(style='border:2px solid black')
        p(th:text='${bm_dimen}')

//- _________________________
//- [All] UTXOs List in BlockMatrix
.container
  i.fas.fa-history.fa-2x
  h3 Transactions History
  table.table
    thead
      tr
        th(scope='col') Transaction ID
        th(scope='col') Recipient
        th(scope='col') Value
        th(scope='col') Parent ID
        th(scope='col')  
    tbody
      tr(th:each='mapEntry : ${bm_utxo}')
        td(th:text='${mapEntry.key}')  transaction_id 
        td(th:text='${mapEntry.value.getRecipient()}')  recipient_address 
        td(th:text='${mapEntry.value.getValue()}')  transaction_value 
        td(th:text='${mapEntry.value.getParentTransactionId()}')  transaction_parent_id 
      tr(th:each='mapEntry : ${bm_utxo}')
        td(colspan='3')
          div
            table
              tr
                td(th:text='${mapEntry.key}')  transaction_id 

//- _________________________
//- [All] BlockMatrix Transactions Table
.container
  i.fas.fa-history.fa-2x
  h3 Transactions History
  table.table
    thead
      tr
        th(scope='col') Transaction ID
        th(scope='col') Sender
        th(scope='col') Recipient
        th(scope='col') Value
        th(scope='col') Info
        th(scope='col') Block Number
    tbody
      tr(th:each='list_value : ${bm_all_transactions}')
        td(th:text='${list_value.getTransactionId()}')  transaction_id 
        td(th:text='${list_value.getSender()}')  sender_address 
        td(th:text='${list_value.getRecipient()}')  recipient_address 
        td(th:text='${list_value.getValue()}')  transaction_value 
        td(th:text='${list_value.getInfo()}')  transaction_info 
        td(th:text='${list_value.getBlockNumber()}')  transaction_block_num 
