//- _________________________
//- Mixins Definitions

mixin my_button(btnText, num)
        button(type="button")
            span= btnText
            if num == 1
                img(th:src="@{/images/Vector.png}")
            if num == 2
                i(class="fas fa-key")
            else
                img(th:src="@{/images/NewWallet_icon.png}")

mixin input_form(inputHeader, num)
    div(class="form-group mb-3")
        label(for="recipient_address" class="control-label")= inputHeader
        if num == 1
            input(autocomplete="off" type="text" class="form-control" id="recipient_address" 
                                aria-describedby="basic-addon3")
        if num == 2
            input(autocomplete="off" type="text" class="form-control" id="transaction_amount" 
                                aria-label="Amount (to the nearest dollar)" th:name="funds")
        if num == 3
            input(autocomplete="off" type="text" class="form-control" id="transaction_msg"
                                aria-label="Message" th:name="msg")       

//- _________________________
//- Start of HTML file

doctype html

html(lang="en", xmlns:th="http://www.thymeleaf.org")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title BlockMatrix Chain

        //- Font Awsome CDN
        script(src="https://kit.fontawesome.com/62abfc2872.js", crossorigin="anonymous")

        //- Main CSS style file
        link(rel="stylesheet", th:href="@{styles/main.css}")

        //- Main JS file
        script(type="text/javascript" th:src="@{/main.js}")
    body

        //- _________________________
        //- Alerts [Using Bootstrap]
        div(class="my_alert" role="alert")
            strong Private Key
            p
                span(th:text="${priv_address}")
            button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                span(aria-hidden="true") &times;

        //- _________________________
        //- Wallet Dashboard [Header]
        header(class="container p-3")
            div(class="row")
                div(class="col-lg mx-auto")
                    i(style="float: left;" class="fas fa-wallet fa-x2")
                    h3
                        strong Wallet Dashboard

        //- _________________________
        //- User Wallet Actions
        div(class="container p-3")
            div(class="row")

                //- My Wallet Actions & Details
                div(class="col-lg")
                    div(class="container justify-content-center mx-auto")
                        img(style="border-radius: 80%; width: 100px; height 100px;" th:src="@{/images/cCvnG-937HE.png}" alt="Avatar")
                        p
                            strong ~mbash
                        
                        //- Buttons Group [Bootstrap]
                        div(class="btn-group-vertical")
                            +my_button("Copy Wallet Address", 1)
                            +my_button("View Private Key", 2)
                            +my_button("Generate New wallet", 3)
                        
                //- Wallet balance
                div(class="col-lg")
                    h3 
                        strong Wallet Ballance
                    br
                    h4
                        span(th:text="${balance}") 
                        span(style="color: #00A3FF;")
                            strong Mx's

                //- Wallet Send Funds Form Action
                div(class="col-lg")
                    form(action="#" th:action="@{/send_funds}" method="post")
                        div(class="form-group")
                            h3
                                strong Send Funds
                            +input_form("Recipients Address", 1)
                            +input_form("Amount", 2)
                            +input_form("Transaction Message", 3)
                        button(type="submit" class="btn btn-primary") Send Transaction
                            i(class="fas fa-paper-plane")

        //- _________________________
        //- [All] Blockmatrix Transactions
        div(class="container")
            i(class="fas fa-history fa-2x")
                h3 Transaction Histroy
                table(class="table table-borderless")
                    thead
                        tr
                            each n in ["Transaction ID", "Sender", "Recipient", "Value", "Info", "Block Number"]
                                th(scope="col")= n
                    tbody
                        tr(th:each="list_value : ${bm_all_transactions}")
                            td(th:text="${list_value.getTransactionId()}")
                            td(th:text="${list_value.getSender()}")
                            td(th:text="${list_value.getRecipient()}")
                            td(th:text="${list_value.getValue()}")
                            td(th:text="${list_value.getInfo()}")
                            td(th:text="${list_value.getBlockNumber()}")

        //- _________________________
        //- [MY] Transactions
        div(class="container")
            i(style="float: left;" class="fas fa-history fa-2x")
            h3 My Transaction History
            table(class="table table-borderless")
                thead
                    tr
                        each n in ["Transaction ID", "Recipient", "Value", "Info", "Parent ID", ""]
                            th(scope="col")= n
                tbody
                    tr(th:each="mapEntry : ${transactions}")
                        td(style="font-size:12px" th:text="${mapEntry.key}") transaction_id
                        td(style="font-size:8px" th:text="${mapEntry.value.getRecipient()}") recipient_address
                        td(style="font-size:14px" th:text="${mapEntry.value.getValue()}") transaction_value
                        td(style="font-size:12px" th:text="${mapEntry.value.getParentTransactionId()}") transaction_parent_id
                        td
                            button(style="font-size:14px;" class="btn btn-danger") Modify Transaction Info 

        //- _________________________
        //- Inlcude Footer
        include pug/includes/footer.pug

        //- _________________________                          
        //- Bootstrap JS CDNs
        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous")
