//- Used in:

    block_explorer
    wallet_ui

.container
    i.fas.fa-history.fa-2x(style="float: left;")
    h3 Transaction Histroy
    table.table.table-borderless
        thead
            tr
                each n in ["Transaction ID", "Sender", "Recipient", "Value", "Info", "Block Number"]
                    th(scope="col")= n
        tbody
            tr(th:each="list_value : ${bm_all_transactions}")
                td.overflow_style(th:text="${list_value.getTransactionId()}")
                td.overflow_style(th:text="${list_value.getSender()}")
                td.overflow_style(th:text="${list_value.getRecipient()}")
                td(th:text="${list_value.getValue()}")
                td(th:text="${list_value.getInfo()}")
                td(th:text="${list_value.getBlockNumber()}")