//- ----------------------
//-       Heading
//- ----------------------
mixin header_page(headText, img_src, info_txt1)
    .container-fluid.pb-3.pt-0.pl-5
        .container-fluid(style="display: flex; align-items: center;")
            svg(viewBox="0 0 32 36" width="32" height="36")
                use(th:xlink:href= img_src)
            span.p-2
                h4= headText
        .container-fluid(style="display: flex; align-items: center;")
            svg(width="15" height="15" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M5 0C2.23884 0 0 2.23884 0 5C0 7.76116 2.23884 10 5 10C7.76116 10 10 7.76116 10 5C10 2.23884 7.76116 0 5 0ZM5.35714 7.41071C5.35714 7.45982 5.31696 7.5 5.26786 7.5H4.73214C4.68304 7.5 4.64286 7.45982 4.64286 7.41071V4.375C4.64286 4.32589 4.68304 4.28571 4.73214 4.28571H5.26786C5.31696 4.28571 5.35714 4.32589 5.35714 4.375V7.41071ZM5 3.57143C4.85981 3.56857 4.72633 3.51087 4.6282 3.41071C4.53007 3.31056 4.47511 3.17593 4.47511 3.03571C4.47511 2.8955 4.53007 2.76087 4.6282 2.66071C4.72633 2.56056 4.85981 2.50286 5 2.5C5.14019 2.50286 5.27367 2.56056 5.3718 2.66071C5.46993 2.76087 5.52489 2.8955 5.52489 3.03571C5.52489 3.17593 5.46993 3.31056 5.3718 3.41071C5.27367 3.51087 5.14019 3.56857 5 3.57143Z" fill="#00A3FF")
            span.p-2(style="width: 35%; font-size: 12px;")= info_txt1

        //- Switch Between Visual & Simple Blockexplorer
        if (headText == "Block Explorer")    
            .container.m-2
                button#simple_view_btn.button_main(type="button").selected_dark Simple
                button#visual_view_btn.button_main(type="button") Visual

//- ----------------------
//-       Buttons
//- ----------------------
mixin main_btn_img(btnText, img_src)
    button.button_main(type="button")&attributes(attributes)
        img(th:src=img_src alt= btnText)
        span= btnText

mixin img_btn(img_src)
    button.button_main(type="button")&attributes(attributes)
        //- object(th:data=img_src type="image/svg+xml" style="fill:red;")
        svg(style="fill: red; stroke: red;")
            use(th:xlink:href= img_src)

mixin btn_no_img(btnText, btnId, btnTitle)
    button.button_main_light_hollow._btn_query(id= btnId style="display: inline-block;" type="button" title= btnTitle)= btnText

//- ----------------------
//-     Input Forms
//- ----------------------
mixin input_form(inputHeader, inputID)
    label(for="recipient_address" class="control-label")= inputHeader
    input(id=inputID autocomplete="off" type="text" class="form-control" aria-describedby="basic-addon3" required)

//- ----------------------
//- BlockMatrix Info Blocks
//- ----------------------
mixin info_block(title, data)
    .col-lg-6.col-sm-4
        .innerDiv
            h6= title
            h5(th:text= data)&attributes(attributes)

//- ----------------------
//-       Footer
//- ----------------------
mixin footer_menu(name, href)
    li.m-3
        a(href=href)= name
