//- ----------------------
//-     Heading
//- ----------------------
mixin header_page(headText, img_src, info_txt1)
    header.container(style="display: flex; align-items: center;")
        svg(width='29' height='26' viewbox='0 0 29 26' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M26.1227 5.4375H4.53125C4.03055 5.4375 3.625 5.03195 3.625 4.53125C3.625 4.03055 4.03055 3.625 4.53125 3.625H26.2812C26.782 3.625 27.1875 3.21945 27.1875 2.71875C27.1875 1.21721 25.9703 0 24.4688 0H3.625C1.62275 0 0 1.62275 0 3.625V21.75C0 23.7522 1.62275 25.375 3.625 25.375H26.1227C27.7097 25.375 29 24.1555 29 22.6562V8.15625C29 6.65697 27.7097 5.4375 26.1227 5.4375ZM23.5625 17.2188C22.5617 17.2188 21.75 16.4071 21.75 15.4062C21.75 14.4054 22.5617 13.5938 23.5625 13.5938C24.5633 13.5938 25.375 14.4054 25.375 15.4062C25.375 16.4071 24.5633 17.2188 23.5625 17.2188Z' fill='#708FFE')
        span.p-2
            h2= headText
    .container(style="display: flex; align-items: center;")
      img(style="width: 16px; height: 16px;" th:src="@{/images/info_vector.png}" alt="info_vector")
      span.p-2(style="width: 75%;")= info_txt1

//- ----------------------
//-       Buttons
//- ----------------------
mixin main_btn_img(btnText, img_src)
    button.button_main(type="button")&attributes(attributes)
        img(th:src=img_src alt= btnText)
        span= btnText

mixin img_btn(img_src)
    button.button_main(type="button")&attributes(attributes)
        //- object(th:data=img_src type="image/svg+xml" style="fill:red;")
        svg(style="fill: red; stroke: red;")
            use(th:xlink:href= img_src)

//- ----------------------
//-     Input Forms
//- ----------------------
mixin input_form(inputHeader, inputID)
    label(for="recipient_address" class="control-label")= inputHeader
    input(id=inputID autocomplete="off" type="text" class="form-control" aria-describedby="basic-addon3" required)

//- ----------------------
//- BlockMatrix Info Blocks
//- ----------------------
mixin info_block(img_src, title, data)
    .col-lg-6.col-sm-4
        .innerDiv
            h6
                strong= title
            img(style="width: 32px; height: 32px;" th:src= img_src alt="block_vector")
            h4(th:text= data)&attributes(attributes)

//- ----------------------
//-       Footer
//- ----------------------
mixin footer_menu(name, href)
    li.m-3
        a(href=href)= name
