//- _________________________
//- Mixin PUG Code
//- _________________________

//- ______________________
//- Buttons
mixin main_btn_img(btnText, icon_class)

    button.button_main_light.text-left(type="button")&attributes(attributes)
        i(class=icon_class)
        span.pl-2= btnText

//- ______________________
//- Input Forms
mixin input_form(inputHeader, inputID)
    div(class="form-group mb-3")
        label(for="recipient_address" class="control-label")= inputHeader
        input(id=inputID autocomplete="off" type="text" class="form-control" aria-describedby="basic-addon3" required)

//- ______________________
//- BlockMatrix Info Blocks
mixin info_block(img_src, title, data)
    .col-lg-6.col-sm-4
        .innerDiv
            h6
                strong= title
            img(style="width: 32px; height: 32px;" th:src= img_src alt="block_vector")
            h4(th:text= data)&attributes(attributes)

//- _______________________
//- Footer
mixin footer_menu(name, href)
    li.m-3
        a(href=href)= name
