.container
    .container(style="display: flex; align-items: center;")
        svg(width="22" height="20" viewBox="0 0 22 20")
            use(th:xlink:href="@{/images/Vectors.svg#histroy_vector}")
        span.p-2
            h4 My Transaction History
    table.table.table-borderless.m-3
        thead
            tr
                each n in ["Transaction ID", "Sender", "Recipient", "Value", "Info", "Block Number"]
                    th(scope="col")= n
        tbody
            tr(th:each="tsx : ${wallet_txs}")
                td(th:text="${tsx.getTransactionId()}")
                td(th:text="${@stringUtil.getStringFromKey(tsx.getSender())}")
                td(th:text="${@stringUtil.getStringFromKey(tsx.getRecipient())}")
                td(th:text="${tsx.getValue()}")
                td(th:text="${tsx.getInfo()}")
                td(th:text="${tsx.getBlockNumber()}")
                td
                    button#select_tx_btn.button_main_dark Modify Info
                    //- button.btn.btn-primary(type='button' data-toggle='modal' data-target='#exampleModal' data-whatever='@getbootstrap') Modify Transaction Info
    .container(style="display: flex; justify-content: center;")
        button.button_main_dark 
            span.mr-2 Show More
            svg(width='12' height='9' viewbox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M1.5 1L5.31502 6.70623C5.71971 7.31153 6.61494 7.29524 6.99733 6.67562L10.5 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
