//- _________________________
//- User Wallet User TXs Table
//- 
//- Used in: - block_explorer
//-          - wallet_ui
//- _________________________

.container
    .container(style="display: flex; align-items: center;")
        i.fas.fa-history.fa-2x(style="float: left;")
        span.p-2
            strong(style="font-size: 32px;") My Transaction History
    table.table.table-borderless.m-3
        thead
            tr
                each n in ["Transaction ID", "Sender", "Recipient", "Value", "Info", "Block Number"]
                    th(scope="col")= n
        tbody
            tr(th:each="tsx : ${wallet_txs}")
                td.overflow_style
                    strong(th:text="${tsx.getTransactionId()}")
                td.overflow_style
                    strong(th:text="${@stringUtil.getStringFromKey(tsx.getSender())}")
                td.overflow_style
                    strong(th:text="${@stringUtil.getStringFromKey(tsx.getRecipient())}")
                td
                    strong(th:text="${tsx.getValue()}")
                td
                    strong(th:text="${tsx.getInfo()}")
                td
                    strong(th:text="${tsx.getBlockNumber()}")
                td
                    button#select_tx_btn(style="font-size:12px;" class="btn btn-danger" th:onclick="clickRow(this)") Modify Transaction Info 