div(class="container")
            i(style="float: left;" class="fas fa-history fa-2x")
            h3 My Transaction History
            table(class="table table-borderless")
                thead
                    tr
                        each n in ["Transaction ID", "Recipient", "Value", "Info", "Parent ID", ""]
                            th(scope="col")= n
                tbody
                    tr(th:each="mapEntry : ${transactions}")
                        td(style="font-size:12px" th:text="${mapEntry.key}") transaction_id
                        td(style="font-size:8px" th:text="${mapEntry.value.getRecipient()}") recipient_address
                        td(style="font-size:14px" th:text="${mapEntry.value.getValue()}") transaction_value
                        td(style="font-size:12px" th:text="${mapEntry.value.getParentTransactionId()}") transaction_parent_id
                        td
                            button(style="font-size:14px;" class="btn btn-danger") Modify Transaction Info 